<nav class="grid-item">
  <% if (user) { %>
  <a class="nav-btn" href="/profile/<%= user.userName %>">My Profile</a>
  <% } %>
  <a class="nav-btn" href="/posts">Feed</a>
  <a class="submit-btns" href="/logout">Logout</a>
</nav>
