<%- include('partials/header') -%>
<h1>Create Your Very Own Speck!</h1>
<section class="home-btns">
  <a href="/login" class="links"> Login</a>
  <a href="/signup" class="links"> Signup</a>
</section>
<%- include('partials/footer') -%>
