<%- include('partials/header') -%>
<main class="landing">
  <h1>Create Your Very Own Speck!</h1>
  <section class="home-btns">
    <a class="submit-btns links" href="/login" class="links"> Login</a>
    <a class="submit-btns links" href="/signup" class="links"> Signup</a>
  </section>
</main>
<%- include('partials/footer') -%>
